
{% extends "layout.html" %}

{% block body %}
  <div style="margin-top: 50px; margin-left: 100px;">
    <h2>Tehtävälistasovellus</h2>
    <div style="max-width: 700px; word-wrap: break-word; margin-top: 40px;">
      <p>
        Tervetuloa tehtävälistasovellukseen. Sovelluksessa voit lisätä itsellesi tehtäviä joita sinun täytyy tehdä, tai jotka olet jo tehnyt. Voit sitten katsella tehtäviäsi listana, järjestäen vaikkapa aiheen tai päivämäärän mukaan.
      </p>
    </div>
    </div>

{% endblock %}
