{% extends "layout.html" %}

{% block body %}
{% if tehtavat is defined %}
  <table>
    <tr>
        <th>Tehtävä</th>
      <th>Valmis</th>
    </tr>
    {% for t in tehtavat %}
    <tr>
      <td>{{ t.nimi }}</td>
      <td>{{ t.valmis }}</td>
      <td><a href="{{url_for('tehtava_poista', tehtava_id=t.id) }}">Poista</a></td>
      <td>
        <form method="POST" action="{{ url_for('tehtava_valmis', tehtava_id=t.id) }}">
            <input type="submit" value="Tehty"/>
          </form>
      </td>
    </tr>
    {% endfor %}
  </table>

  {% else %}
  <p><b>Sinulla ei ole yhtään tehtävää sovelluksessa!</b></p>
  {% endif %}
{% endblock %}
