{% extends "layout.html" %}

{% block body %}

<table class="lomake" style="font-size: 24px; margin: 60px;">
    <tr>
        <td>
            <a href="{{ url_for('listaa_aiheet') }}">Listaa aiheet</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ url_for('listaa_kayttajat_joilla_tehtavia') }}">Listaa käyttäjät joilla on tehtäviä sovelluksessa</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ url_for('tehtava_kaikki') }}">Listaa kaikkien käyttäjien tehtävät (vaatii admin-oikeudet)</a>
        </td>
    </tr>
</table>



{% endblock %} 