{% extends "layout.html" %}
  
{% block body %}
<element class="lomake">
    <h3 style="margin-left: 100px; margin-top: 50px;">Luo uusi tehtävä</h1>

<form method="POST" action="{{ url_for('tehtava_luo') }}">

    <table>
        {% if virheviesti is defined %}
        <tr>
            <td style="color:red; font: bold;">Virhe</td>
            <td>{{ virheviesti }}</td>
        </tr>
        {% endif %}
        {% if viesti is defined %}
        <tr>
            <td></td>
            <td style="color:green; font: bold; font-size: 24px;">{{ viesti }}</td>
        </tr>
        {% endif %}
        <tr>
            <td>
                {{ form.nimi.label }}
            </td>
            <td>
                {{ form.nimi }}
            </td>
            <td>
                <ul>
                    {% for error in form.nimi.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.kuvaus.label }}
            </td>
            <td>
                {{ form.kuvaus(cols="45", rows="10") }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.valmis.label }}
            </td>
            <td>
                {{ form.valmis }}
            </td>

        </tr>
        <tr>
            <td>
            <b>Valitse aiheet</b>
            </td>
            <td>
            {% for aihe in vanhatAiheet %}
            <span style="margin-right: 20px;">
                <input type="checkbox" name="vanhaAihe" value="{{ aihe.id }}">
                <label for=vanhaAihe>{{ aihe.nimi }}</label>
            </span>
            {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                <b>Tai lisää uusia</b>, erotettuna pilkulla, esimerkiksi: koulu,matematiikka
            </td>
            <td>
                {{ form.aihe }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.pvm.label }}
            </td>
            <td>
                {{ form.pvm }}
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">
                <input type="submit" value="Lisää tehtävä"/>

            </td>
        </tr>
    </table>


</form>
</element>
{% endblock %}
