{% extends "layout.html" %}
  
{% block body %}
<element class="lomake">
<form method="POST" action="{{ url_for('tehtava_luo') }}">

    <table>
        <tr>
            <td>
                {{ form.nimi.label }}
            </td>
            <td>
                {{ form.nimi }}
            </td>
            <td>
                <ul>
                    {% for error in form.nimi.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.kuvaus.label }}
            </td>
            <td>
                {{ form.kuvaus(cols="45", rows="10") }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.valmis.label }}
            </td>
            <td>
                {{ form.valmis }}
            </td>

        </tr>
        <tr>
            <td>
            Valitse aiheet
            </td>
            <td>
            {% for aihe in vanhatAiheet %}
            <span style="margin-right: 20px;">
                <input type="checkbox" name="vanhaAihe" value="{{ aihe.id }}">
                <label for=vanhaAihe>{{ aihe.nimi }}</label>
            </span>
            {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                Tai lisää uusia, erotettuna pilkulla, esimerkiksi: koulu,matematiikka
            </td>
            <td>
                {{ form.aihe }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.pvm.label }}
            </td>
            <td>
                {{ form.pvm }}
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">
                <input type="submit" value="Lisää tehtävä"/>

            </td>
        </tr>
    </table>


</form>
</element>
{% endblock %}
