
{% extends "layout.html" %}

{% block body %}
<h3 style="margin-left: 100px; margin-top: 50px;">Kirjaudu</h3>

<element class="lomake">
<form method="POST" action="{{ url_for('auth_kirjaudu') }}">
  <table class="lomake">
      {% if error is defined %}
      <tr>
        <td></td>
        <td>
          <p style="color: red"><b>{{ error }}</b></p>
        </td>
      </tr>
      {% endif %}
      <tr>
      <td>
	{{ form.tunnus.label }}
      </td>
      <td>
	{{ form.tunnus }}
      </td>
    </tr>
    <tr>
      <td>
	{{ form.salasana.label }}
      </td>
      <td>
	{{ form.salasana }}
      </td>
    </tr>
    <tr>
          <td>    </td>
      <td colspan="2">
	<input type="submit" value="Kirjaudu"/>
      </td>
    </tr>
</form>
</element>
{% endblock %}
