
{% extends "layout.html" %}

{% block body %}


<element class="lomake">
    <h3 style="margin-left: 100px; margin-top: 50px;">Muuta tilin tietoja</h3>

<form method="POST" action="{{ url_for('muuta_tietoja') }}">
  <table class="lomake">
    <tr>
        <td>
      {{ lomake.tunnus.label }}
        </td>
        <td>
      {{ lomake.tunnus }}
        </td>
        {% if (lomake.tunnus.errors is defined) and lomake.tunnus.errors %}

        <td>
          <ul>
              {% for error in lomake.tunnus.errors %}
              <li>{{ error }}</li>
              {% endfor %}
          </ul>
      </td>
      {% endif %}
      </tr>
      <tr>
        <tr>
            <td>
          {{ lomake.nimi.label }}
            </td>
            <td>
          {{ lomake.nimi }}
            </td>
            {% if (lomake.nimi.errors is defined) and lomake.nimi.errors %}

            <td>
              <ul>
                  {% for error in lomake.nimi.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
              </ul>
          </td>
          {% endif %}
  
          </tr>
          <tr>
              <td>
	{{ lomake.salasana.label }}
      </td>
      <td>
	{{ lomake.salasana }}
      </td>
      {% if (lomake.salasana.errors is defined) and lomake.salasana.errors %}
      <td>
        <ul>
            {% for error in lomake.salasana.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
     </td>
     {% endif %}
    </tr>

    <tr>
      <td></td>
      <td colspan="2">
	<input type="submit" value="Muuta tietoja"/>
      </td>
    </tr>
</form>
</element>
{% endblock %}
