
{% extends "layout.html" %}

{% block body %}
{{ error }}


<element class="lomake">

<form method="POST" action="{{ url_for('auth_rekisteroidy') }}">
  <table class="lomake">
    <tr>
        <td>
      {{ form.tunnus.label }}
        </td>
        <td>
      {{ form.tunnus }}
        </td>
        {% if (form.tunnus.errors is defined) and form.tunnus.errors %}

        <td>
          <ul>
              {% for error in form.tunnus.errors %}
              <li>{{ error }}</li>
              {% endfor %}
          </ul>
      </td>
      {% endif %}
      </tr>
      <tr>
        <tr>
            <td>
          {{ form.nimi.label }}
            </td>
            <td>
          {{ form.nimi }}
            </td>
            {% if (form.nimi.errors is defined) and form.nimi.errors %}

            <td>
              <ul>
                  {% for error in form.nimi.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
              </ul>
          </td>
          {% endif %}
  
          </tr>
          <tr>
              <td>
	{{ form.salasana.label }}
      </td>
      <td>
	{{ form.salasana }}
      </td>
      {% if (form.salasana.errors is defined) and form.salasana.errors %}
      <td>
        <ul>
            {% for error in form.salasana.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
     </td>
     {% endif %}
    </tr>

    <tr>
      <td></td>
      <td colspan="2">
	<input type="submit" value="Rekisteröidy"/>
      </td>
    </tr>
</form>
</element>
{% endblock %}
